@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<section class="section section-l bg-light section-steps pb-4" id="steps">
    <div>
        <div class="section-content section-content-boxed">
            <div class="row g-gs justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="list-block pr-lg-8">
                        <p>
                            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
