@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Local volunteer network</h1>
    <p class="lead">The local volunteer network is a free to use simple platform for people to list support items they need help with and for local volunteers to see those support items and handle them.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum
        </p>
        <p><a class="btn btn-default" href="https://www.atlascity.io">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Lorem ipsum</p>
        <p><a class="btn btn-default" href="https://www.atlascity.io"s>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Lorem ipsum</p>
        <p><a class="btn btn-default" href="https://www.atlascity.io">Learn more &raquo;</a></p>
    </div>
</div>