<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a02aa6ec-5a7f-4e79-9db9-b93536b78603/resourcegroups/VolunteerAppResourceGroup/providers/Microsoft.Web/sites/Volunteerapp</ResourceId>
    <ResourceGroup>VolunteerAppResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://volunteernetwork.live</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>volunteerapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Volunteerapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Volunteerapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VolunteerNetworkEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:farmtofork.database.windows.net,1433;Initial Catalog=VolunteerNetwork;Persist Security Info=False;User ID=f2f84738;Password=Q4xq5ktzis2jGXem4c4fMmWXys6xwo;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:farmtofork.database.windows.net,1433;Initial Catalog=VolunteerNetwork;Persist Security Info=False;User ID=f2f84738;Password=Q4xq5ktzis2jGXem4c4fMmWXys6xwo;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebRole1.VolunteerNetworkEntities, WebRole1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:farmtofork.database.windows.net,1433;Initial Catalog=VolunteerNetwork;Persist Security Info=False;User ID=f2f84738;Password=Q4xq5ktzis2jGXem4c4fMmWXys6xwo;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:farmtofork.database.windows.net,1433;Initial Catalog=VolunteerNetwork;Persist Security Info=False;User ID=f2f84738;Password=Q4xq5ktzis2jGXem4c4fMmWXys6xwo;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebRole1.Models.ApplicationDbContext, WebRole1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:farmtofork.database.windows.net,1433;Initial Catalog=VolunteerNetwork;Persist Security Info=False;User ID=f2f84738;Password=Q4xq5ktzis2jGXem4c4fMmWXys6xwo;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="VolunteerNetworkEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:farmtofork.database.windows.net,1433;Initial Catalog=VolunteerNetwork;Persist Security Info=False;User ID=f2f84738;Password=Q4xq5ktzis2jGXem4c4fMmWXys6xwo;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>